* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    background-image: url('/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0);
    }
    
  
  
  .container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.035);
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    border: 1px solid #ffffff; /* white-colored border */
  }
  
  header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  header img {
    height: 40px;
    margin-right: 16px;
    
  }
  
  header h1 {
    font-size: 28px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 40px;
    border: none; /* Remove a borda */
  }
  
  form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 640px;
  width: 100%;
  margin-bottom: 20px;
  }
  
  form input[type="text"],
  form input[type="tel"] {
  flex: 1;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  border-radius: 5px;
  }
  
  form input[type="text"]:focus,
  form input[type="tel"]:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  form button[type="submit"] {
    background-color: #1978317a;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    width: 30%;
  }
  
  form button[type="submit"]:hover {
    background-color: #1c8a2b;
    margin-bottom: 10px;
  }
  
  ul.lista-contatos {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  ul.lista-contatos li {
    padding: 16px 0;
    font-size: 16px;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: #fff;
    }
  
  ul.lista-contatos li:last-child {
    border-bottom: none;
  }
  
  .contato-item {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento abaixo do contato */

  }
  
  .contato-item button {
    margin-left: 8px;
    background-color: rgba(141, 14, 14, 0.74);
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: auto;
    
  }
  
  .contact-details {
    display: flex;
    align-items: center;
  }
  
  .contact-details span {
    margin-right: 10px;
  }
  
  .contact-actions {
    display: flex;
    gap: 10px;
  }
  
  .contact-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.3s ease;
  }
  
  .contact-actions button:hover {
    transform: scale(1.2);
  }
  
  .contact-actions img {
    height: 20px;
  }
  
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
  
    form input[type="text"],
    form input[type="tel"] {
      font-size: 16px;
    }
  
    form button[type="submit"] {
      font-size: 16px;
    }
  
    ul.lista-contatos li {
      font-size: 14px;
    }
  
    .contact-actions img {
      height: 16px;
    }
  }
  

  